{%- assign RELATED_PRODUCTS_LIMIT = 4 -%}
<section class=product--related-products>

      <h2>Products Similar To {{product.title | escape}}</h2>
        <article class="product-recommended-product-wrapper">

        
        {%- assign related_collection = nil -%}
            {%- for collection in product.collections -%}
                {%- unless collection.handle == 'all' -%}
                {%- if related_collection == blank or collection.products.size > related_collection.products.size -%}
                    {%- assign related_collection = collection -%}
                    {%- if related_collection.products.size > 5 -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endif -%}
                {%- endunless -%}
            {%- endfor -%}

            {%- for related_product in related_collection.products limit: RELATED_PRODUCTS_LIMIT -%}
            <div class="product--recommended-product">
                <a href="{{ related_product.url }}" aria-label="{{ related_product.title | escape }}"><img src="{{ related_product.featured_image | img_url: '240x240', scale: '1', crop: 'center' }}" alt=""></a>
                <div class="product--recommended-product-info">
                    <a href="{{ related_product.url }}">
                        <h4>{{ related_product.title | escape }}</h4>
                        <span class="money"><small>from </small>{{ related_product.price_min | money }}</span>
                    </a>
                </div>
            </div>
            {%- endfor -%}
        </article>
</section>   
        
