<!DOCTYPE html>
<html>
  <head>
    {{ content_for_header }}
    {{- 'theme.scss.css' | asset_url | stylesheet_tag -}}
  </head>
  <body>
    <header>
      {%- section 'header' -%}
    </header>
    {{ content_for_layout }}
    <footer>
      {%- section 'footer' -%}
    </footer>
    
    {{- 'jquery-3.4.1.min.js' | asset_url | script_tag }}
    {{- 'theme.js' | asset_url | script_tag -}}
    
  </body>
</html>
