<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ content_for_header }}
    {{- 'theme.scss.css' | asset_url | stylesheet_tag -}} 
  </head>
  <body class="no-js">
    <header>
      {%- section 'header' -%}
    </header>
    {{ content_for_layout }}
    {%- section 'footer' -%}
    {{- 'jquery-3.4.1.min.js' | asset_url | script_tag }}
    {{- 'theme.js' | asset_url | script_tag -}}
    {{- 'slick.min.js' | asset_url | script_tag -}}   
    {{- captured_js -}}
  </body>
</html>
