{% schema %}
    {
        "name": "Header",
        "settings": [
            {
             "id": "primary_link_list",
             "type": "link_list",
             "label": "Primary Navigation Menu",
             "default": "main-menu"
            }
        ]
    }
{% endschema %}
<!-- Store Name / Logo -->

<h1 class="logo"><a href="/">{{ shop.name | escape }}</a></h1>
<input type="checkbox" id="nav-toggle" class="header--nav-toggle">
<nav>
    {%- assign primary_link_list = linklists[section.settings.primary_link_list] -%}
    {%- unless primary_link_list == blank -%}
    <!-- Main Nav Links -->
    <ul class="header--main-menu-navigation">
        {%- for link in primary_link_list.links -%}
        <li class="header--main-menu-link">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>
        </li>
        {%- endfor -%}
    </ul>
    {%- endunless -%}

    <!-- Search and Login Links (if accounts are enabled)-->
    <ul class="header--accounts">
        <li class="header--nav-item">
            <a href="header--nav-link" href="/search">Search</a>
        </li>
        {%- if shop.customer_accounts_enabled -%}
            {%- if customer -%}
                <li>
                    <a href="/account">{{ customer.first_name | escape }}</a>
                </li>
            {%- else -%}
                <li>
                    <a href="account/login">Log In</a>
                </li>
            {%- endif -%}
        {%- endif -%}
    <!-- Cart Link and Quantity -->
        <li class="header--cart">
            <a href="/cart">Cart ({{ cart.item_count }})</a>
        </li>
    </ul>

</nav>
<label for="nav-toggle" class="header--nav-toggle-label">
    <span></span>
</label>